<!doctype html>
<html>
<head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>EURO2021 Standings</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
</head>
<body>
{{#each result}}
    <div class="container">
        <div class="section columns">
            <div class="column is-8 is-offset-2">
                <h2 class="title has-text-centered">
                      {{name}}
                </h2>
                <table class="table is-bordered is-striped is-narrow">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>P</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>F</th>
                            <th>A</th>
                            <th>Pts</th>
                            <th>Q</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each rows}}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>{{ matches }} </td>
                            <td>{{ wins }} </td>
                            <td>{{ draws }} </td>
                            <td>{{ losses }} </td>
                            <td>{{ scoresFor }} </td>
                            <td>{{ scoresAgainst }} </td>
                            <td>{{ points }} </td>
                            <td>{{#if (isPlayOffs promotion.text)}}Q{{else}}{{/if}}</td>
                        </tr>
                      {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/each}}
</body>
</html>